@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #fff;
	color: #4A4A4A;
	font-family: 'Open Sans', arial, sans-serif;
	width: 960px;
	margin: 0px auto 0px auto;
}

h3 {
  padding: 0px;
  margin: 0px 0 0px 0;
}

a:visited {
  text-decoration: none;
}

header {
  display: block;
  height: 100px;
  border-bottom: 5px solid #4A4A4A;
	margin-bottom: 30px;
}

footer {
  border-top: 5px solid #4A4A4A;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px 0 30px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav > li {
  display: inline-block;
}

.nav-top {
  font-family: oswald, arial, sans-serif;
  float: right;
  width: 600px;
  padding-top: 30px;
  font-size: 1.4em;
  text-align: right;
  text-transform: uppercase;
}

.nav a {
	padding-left: 30px;
  text-decoration: none;
  color: #4A4A4A;
}

.nav a:hover, a.active {
	color: #3D94E1;
}

.nav-bottom {
  font-family: oswald, arial, sans-serif;
  float: right;
  width: 600px;
  padding-top: 30px;
  text-align: right;
  text-transform: uppercase;
}

.post-link {
  color: green;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.75em;
/*   line-height: -25em;
 */  padding: 0px;
  margin: 0px;
}

.posts li .date {
  color: gray;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: .8em;
/*   line-height: .10em;
 */  padding: 0px;
  margin: 0px;
}
