@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #fff;
	color: #4A4A4A;
	font-family: 'Open Sans', arial, sans-serif;
	width: 960px;
	margin: 0px auto 0px auto;
}

header > h1 {
  font-weight: normal;
  margin: 28px 0px 0px 0px;
  float: left;
  width: 225px;
  height: 90px;
  background-image: url('../imgs/vulcan.svg');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h3
  padding: 0px;
  margin: 0px 0 0px 0;
}

h3 a:visited {
	text-decoration: none;
	color: #4A4A4A;
}

.posts > hr {
border-width: 60%;
margin-left: auto;
margin-right: auto;
}

a, a:visited {
	text-decoration: none;
	color: #4A4A4A;
}

header {
  display: block;
  height: 140px;
  margin-bottom: 0px;
}

/* footer {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px 0 30px 0;

} */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav > li {
  display: inline-block;
}

.nav-top {
  font-family: oswald, arial, sans-serif;
  float: right;
  width: 600px;
  padding-top: 30px;
  font-size: 1.4em;
  text-align: right;
  text-transform: uppercase;
}

.nav a {
	padding-left: 30px;
  text-decoration: none;
  color: #4A4A4A;
}

.nav a:hover, a.active {
	color: #3D94E1;
}

.nav-bottom {
  font-family: oswald, arial, sans-serif;
  float: right;
  width: 960px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
  text-transform: uppercase;
}

.post-link, .post-title {
  color: green;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.75em;
  padding: 0px;
  margin: 0px;
}

a.post-link, a:visited.post-link {
	color:green;
}

.date, .posts li .date {
  color: gray;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: .8em;
  padding: 0px;
  margin: 0px;
	display: block;
}

.posts li:last-child hr {
	display: none;
}

hr {
	position: relative;
	margin: .5rem 0;
	border: 0;
	border-top: 2.5px solid #4A4A4A;
	border-bottom: 2.5px solid #4A4A4A;
}

hr.lite {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
